
.container {
  grid-template-columns: 3fr 2.4fr;
  width: 100%;
  overflow: hidden;
}

.listcontainer{
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 30%;
  justify-content: center;
  padding: 0;
  column-gap: 5px;
  /*font-family: font-family;
  font-size: font-size-sm;*/
  font-weight: 600;
  color: rgb(110, 110, 110);
  text-align: center;
}

.item{
  list-style: none;
}
