@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/*Variables*/

$bg-color:rgb(253, 252, 252);
$bg-gradient: linear-gradient(#eff7f9, #ace0f9);
$main-fontcolor: #00072d;
$main-font: "Poppins", sans-serif;
*{cursor: pointer;}
$primary-background-color: #ffffff;
$secondary-background-color: #f0f1f4;
$tertiary-background-color: #f8f8f8;
$dark-purple-color: #6334ba;
 $normal-purple-color: #b3a1de;
 $light-purple-color: #f5f2fd;
 $dark-orange-color: #ed5e31;
 $normal-orange-color: #f39e6b;
 $light-orange-color: #fbebe4;
 $red-color: #f26c69;
 /* fonts */
 $font-family: "Poppins", sans-serif;
 $font-size-xsm: 1.2rem;
 $font-size-sm: 1.4rem;
 $font-size-md: 1.8rem;
 $font-size-lg: 2.8rem;
 $font-size-xl: 4rem;
 $gap: 2rem;
 /* margins */
 $margin-sm: 2rem;
 $margin-md: 3rem;
 $margin-xsm: 1.2rem;
 /* paddings */
 $padding-lg: 4rem;
 $padding-md: 3rem;
 $padding-sm: 2rem;
 $padding-xsm: 1rem;


@mixin main-text ($font-size, $font-weight: 400) {
  font-family: $main-font;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: justify;
  line-height: 150%;
}

