/* Import font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Custom properties */

:root {
  /* colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #f0f1f4;
  --tertiary-background-color: #f8f8f8;
  --dark-purple-color: #6334ba;
  --normal-purple-color: #b3a1de;
  --light-purple-color: #f5f2fd;
  --dark-orange-color: #ed5e31;
  --normal-orange-color: #f39e6b;
  --light-orange-color: #fbebe4;
  --red-color: #f26c69;
  /* fonts */
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 2.8rem;
  --font-size-xl: 4rem;
  --font-c
  --gap: 2rem;
  /* margins */
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --margin-xsm: 1.2rem;
  /* paddings */
  --padding-lg: 4rem;
  --padding-md: 3rem;
  --padding-sm: 2rem;
  --padding-xsm: 1rem;
}

/* scrollbar style */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.main-container:hover::-webkit-scrollbar-thumb {
  background: var(--normal-purple-color);
}

.secondary-container:hover::-webkit-scrollbar-thumb {
  background: var(--normal-orange-color);
}

/* Base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #555;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
}

h1 {
  font-size: var(--font-size-xl);
  color: #333;
}

h2 {
  font-size: var(--font-size-lg);
  color: #444;
}

h3 {
  font-size: var(--font-size-md);
  color: #444;
}

h4 {
  font-size: var(--font-size-sm);
  color: #333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

i {
  font-size: var(--font-size-md);
}

/* Reusable classes */

.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.margin-b {
  margin-bottom: var(--margin-md);
}

.card-1 {
  padding: var(--padding-sm);
  border-radius: 1rem;
  transition: 0.3s;
}

.card-2 {
  padding: var(--padding-md);
  border-radius: 1rem;
  transition: 0.3s;
}

.card-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*sidebar */

.dashboard {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}

.sidebar {
  flex-direction: column;
  background-color: var(--secondary-background-color);
  height: 100%;
  padding: 0 2rem;
}

.sidebar-item {
  padding: 1rem;
  margin: 4rem 0;
  border-radius: 50%;
  transition: 0.3s;
}

.s-item-1 {
  background-color: var(--normal-orange-color);
  color: #fff;
}

.s-item-2:hover {
  background-color: var(--dark-purple-color);
  color: #fff;
}

.s-item-3:hover {
  background-color: var(--red-color);
  color: #fff;
}

.s-item-4:hover {
  background-color: var(--normal-orange-color);
  color: #fff;
}

.logo {
  position: absolute;
  top: 4rem;
  color: var(--dark-purple-color);
}

.ri-english-input {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

/* container */

.container {
  grid-template-columns: 3fr 2.4fr;
  width: 100%;
  overflow: hidden;
}

section {
  padding: var(--padding-lg);
}

